body{
    
    font-family: 'Rancho', cursive;
}

.container{
    width:80%;
    margin: auto;
}


.section_one{
<<<<<<< HEAD
    background-image: url(../images/1577428.jpg);
=======
    background-image: url(1577428.jpg);
>>>>>>> 7a968d4ba6876fcf4801fcfa2dc45e63ef0f9d12
    height: 50vh;

}

.section_one .layer{
    
    background-color: rgba(0, 0, 0, 0.432) ;
    height: 50vh;
}

<<<<<<< HEAD
=======
.layer h1{
    font-size: 100px;
    font-weight: 900;
}


>>>>>>> 7a968d4ba6876fcf4801fcfa2dc45e63ef0f9d12
h1{
    font-size: 60px;
    font-weight: 900;
}

.section_two p{
    font-size: 30px;
    font-weight: 400;
}

h3{
    font-size: 40px;
    font-weight: 600;

}
footer div{
    height:50px;
}

